extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")                
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum consectetur ad quae reiciendis. Necessitatibus magni quod in soluta odit autem illo magnam voluptate rem rerum hic quae cupiditate, fugiat sed?
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo quam adipisci pariatur, obcaecati doloremque autem molestias expedita quaerat. Praesentium impedit odit enim officiis facilis corrupti temporibus ad vero eveniet aut. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates tempore delectus dicta debitis excepturi asperiores rerum sequi quaerat praesentium, veniam ratione repellat
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nisi tenetur, labore excepturi amet repudiandae, eaque hic nemo earum, ex quos vitae veniam libero eveniet sunt laborum. Ea, laboriosam! Incidunt!
    .listado-iconos
        .container-mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur nobis voluptatum nostrum blanditii
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur nobis voluptatum nostrum blanditii
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur nobis voluptatum nostrum blanditii